@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  border-radius: 0 !important;
}

body{
  font-family: 'Quicksand', sans-serif;
}

.center{
  text-align: center;
}

.count{
  font-size: .9em;
}

.count-small{
  font-size: .6em;
}

a{
  color:white !important;
}

.tab-link.active-state {
  color: white !important;
}

#ss-connect-dialog{
  display: none;
}

#shiny-disconnected-overlay{
  background-color: #000;
  opacity: 1;
}

.centered {
  z-index: 9999999;
  text-align: center;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --f7-tabbar-link-active-border-color: #298614;
  --f7-toggle-active-color: #298614;
  --f7-toggle-handle-color: #298614;
  --f7-radio-active-color: #298614;
}

.copy-button{
  color: #298614 !important;
}

.article-link{
  color: #298614 !important;
}